## Import & Data Cleaning

In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
#  Read in the csv
listings_df = pd.read_csv("Resources/nyc_listings_2022sep07.csv")
listings_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,308,2,42,2022-07-18,0.30,30,217,4,NaN
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,299,30,9,2018-10-19,0.11,9,356,0,NaN
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,425,30,13,2019-11-12,0.10,6,365,0,NaN
3,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.806350,-73.922010,Private room,60,30,0,NaN,NaN,1,83,0,NaN
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,75,31,135,2022-07-11,0.95,1,219,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39876,27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,135,365,2,2019-09-16,0.04,7,365,0,NaN
39877,654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,180,1,5,2022-08-24,1.92,1,0,5,NaN
39878,553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,240,5,18,2022-08-22,2.87,1,152,18,NaN
39879,698195550745703156,"Luxurious private waterfront terrace, 2BR 2BA Apt",151487807,Asser,Brooklyn,Williamsburg,40.709192,-73.970121,Entire home/apt,400,30,0,NaN,NaN,1,311,0,NaN
39880,48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,40,1,15,2021-10-25,0.91,1,0,4,NaN

In [3]:
# Rename columns
listings_df.rename(columns = {"neighbourhood_group":"borough", "neighbourhood":"neighborhood"}, inplace = True)
listings_df

,id,name,host_id,host_name,borough,neighborhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,308,2,42,2022-07-18,0.30,30,217,4,NaN
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,299,30,9,2018-10-19,0.11,9,356,0,NaN
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,425,30,13,2019-11-12,0.10,6,365,0,NaN
3,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.806350,-73.922010,Private room,60,30,0,NaN,NaN,1,83,0,NaN
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,75,31,135,2022-07-11,0.95,1,219,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39876,27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,135,365,2,2019-09-16,0.04,7,365,0,NaN
39877,654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,180,1,5,2022-08-24,1.92,1,0,5,NaN
39878,553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,240,5,18,2022-08-22,2.87,1,152,18,NaN
39879,698195550745703156,"Luxurious private waterfront terrace, 2BR 2BA Apt",151487807,Asser,Brooklyn,Williamsburg,40.709192,-73.970121,Entire home/apt,400,30,0,NaN,NaN,1,311,0,NaN
39880,48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,40,1,15,2021-10-25,0.91,1,0,4,NaN

In [4]:
# Find the number of null values 
listings_df.isnull().sum()

id                                    0
name                                 13
host_id                               0
host_name                            50
borough                               0
neighborhood                          0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        8362
reviews_per_month                  8362
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           39876
dtype: int64

In [5]:
# Drop columns
listings_df = listings_df.drop(["reviews_per_month", "calculated_host_listings_count", "number_of_reviews_ltm", "license"], axis=1)
listings_df

,id,name,host_id,host_name,borough,neighborhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,availability_365
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,308,2,42,2022-07-18,217
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,299,30,9,2018-10-19,356
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,425,30,13,2019-11-12,365
3,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.806350,-73.922010,Private room,60,30,0,NaN,83
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,75,31,135,2022-07-11,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39876,27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,135,365,2,2019-09-16,365
39877,654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,180,1,5,2022-08-24,0
39878,553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,240,5,18,2022-08-22,152
39879,698195550745703156,"Luxurious private waterfront terrace, 2BR 2BA Apt",151487807,Asser,Brooklyn,Williamsburg,40.709192,-73.970121,Entire home/apt,400,30,0,NaN,311
39880,48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,40,1,15,2021-10-25,0

In [6]:
# Drop rows with null values
listings_df = listings_df.dropna()
listings_df

,id,name,host_id,host_name,borough,neighborhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,availability_365
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,308,2,42,2022-07-18,217
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,299,30,9,2018-10-19,356
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,425,30,13,2019-11-12,365
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,75,31,135,2022-07-11,219
5,80493,Cozy room in East Village with AC,434987,Jennifer,Manhattan,East Village,40.723220,-73.986150,Private room,55,2,207,2022-08-13,132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39872,628769808856889664,Two bedroom apartment in Hoboken New Jersey.,14468718,Burak,Manhattan,West Village,40.740227,-74.027504,Entire home/apt,410,3,2,2022-07-29,0
39876,27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,135,365,2,2019-09-16,365
39877,654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,180,1,5,2022-08-24,0
39878,553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,240,5,18,2022-08-22,152
39880,48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,40,1,15,2021-10-25,0

In [7]:
# Find the hosts with the most listings
host_listings = listings_df.groupby(["host_name"]).count()["room_type"].sort_values(ascending = False)
host_listings.head(10)

host_name
Michael     275
Untitled    200
David       190
Michelle    167
John        165
Jeniffer    163
Daniel      146
Alex        138
Justin      134
Maria       119
Name: room_type, dtype: int64

## Exploratory Data Analysis

In [8]:
# Find the total listings for each neighborhood
borough_listings = listings_df.groupby(["borough"]).count()["neighborhood"].sort_values(ascending = False)
borough_listings

borough
Manhattan        12721
Brooklyn         12132
Queens            4978
Bronx             1294
Staten Island      380
Name: neighborhood, dtype: int64

In [9]:
# Find the top 5 neighborhoods in Manhattan
manhattan_listings = listings_df.loc[listings_df["borough"] == "Manhattan"]
manhattan_neighborhood_listings = manhattan_listings.groupby(["neighborhood"]).count()["room_type"].sort_values(ascending = False)
manhattan_neighborhood_listings.head()

neighborhood
Harlem             1566
Upper West Side    1218
Hell's Kitchen     1177
Midtown            1117
Upper East Side    1048
Name: room_type, dtype: int64

In [10]:
# Find the top 5 neighborhoods in Brooklyn
brooklyn_listings = listings_df.loc[listings_df["borough"] == "Brooklyn"]
brooklyn_neighborhood_listings = brooklyn_listings.groupby(["neighborhood"]).count()["room_type"].sort_values(ascending = False)
brooklyn_neighborhood_listings.head()

neighborhood
Bedford-Stuyvesant    2284
Williamsburg          2006
Bushwick              1277
Crown Heights          992
Greenpoint             573
Name: room_type, dtype: int64

In [11]:
# Find the top 5 neighborhoods in Queens
queens_listings = listings_df.loc[listings_df["borough"] == "Queens"]
queens_neighborhood_listings = queens_listings.groupby(["neighborhood"]).count()["room_type"].sort_values(ascending = False)
queens_neighborhood_listings.head()

neighborhood
Astoria             560
Long Island City    381
Flushing            364
Jamaica             275
Woodside            247
Name: room_type, dtype: int64

In [12]:
# Find the top 5 neighborhoods in Bronx
bronx_listings = listings_df.loc[listings_df["borough"] == "Bronx"]
bronx_neighborhood_listings = bronx_listings.groupby(["neighborhood"]).count()["room_type"].sort_values(ascending = False)
bronx_neighborhood_listings.head()

neighborhood
Wakefield         167
Mott Haven         77
Kingsbridge        59
Williamsbridge     57
Longwood           53
Name: room_type, dtype: int64

In [13]:
# Find the top 5 neighborhoods in Staten Island
SI_listings = listings_df.loc[listings_df["borough"] == "Staten Island"]
SI_neighborhood_listings = SI_listings.groupby(["neighborhood"]).count()["room_type"].sort_values(ascending = False)
SI_neighborhood_listings.head()

neighborhood
St. George         37
Tompkinsville      33
Randall Manor      33
West Brighton      21
Mariners Harbor    20
Name: room_type, dtype: int64

In [14]:
# Find the total listings for each room type
room_listings = listings_df.groupby(["room_type"]).count()["neighborhood"].sort_values(ascending = False)
room_listings

room_type
Entire home/apt    18373
Private room       12560
Shared room          416
Hotel room           156
Name: neighborhood, dtype: int64

In [15]:
# Find the hosts with the most listings
host_listings = listings_df.groupby(["host_name"]).count()["room_type"].sort_values(ascending = False)
host_listings.head(10)

host_name
Michael     275
Untitled    200
David       190
Michelle    167
John        165
Jeniffer    163
Daniel      146
Alex        138
Justin      134
Maria       119
Name: room_type, dtype: int64

In [16]:
# Identify the number of short-term listings (under 30 days)
short_term_listings = listings_df[listings_df.minimum_nights<30]
short_term_listings

,id,name,host_id,host_name,borough,neighborhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,availability_365
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,308,2,42,2022-07-18,217
5,80493,Cozy room in East Village with AC,434987,Jennifer,Manhattan,East Village,40.723220,-73.986150,Private room,55,2,207,2022-08-13,132
6,46911,Large Room in private Brownstone in Park Slope,210746,Kathleen R.,Brooklyn,Prospect Heights,40.680220,-73.974570,Private room,123,3,65,2022-08-21,319
10,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275,21,3,2022-08-10,179
11,80684,Duplex w/ Terrace @ Box House Hotel,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737560,-73.953500,Hotel room,529,2,10,2021-11-13,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39871,50547940,Lovely 2 bedroom apartment in Brooklyn,408408008,Bernadette,Brooklyn,Green-Wood Cemetery,40.655910,-73.998570,Entire home/apt,145,3,14,2022-08-26,0
39872,628769808856889664,Two bedroom apartment in Hoboken New Jersey.,14468718,Burak,Manhattan,West Village,40.740227,-74.027504,Entire home/apt,410,3,2,2022-07-29,0
39877,654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,180,1,5,2022-08-24,0
39878,553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,240,5,18,2022-08-22,152
39880,48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,40,1,15,2021-10-25,0

In [17]:
# Identify the number of long-term listings (over 30 days)
long_term_listings = listings_df[listings_df.minimum_nights>29]
long_term_listings

,id,name,host_id,host_name,borough,neighborhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,availability_365
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,299,30,9,2018-10-19,356
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,425,30,13,2019-11-12,365
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,75,31,135,2022-07-11,219
7,49048,B and B Style Rooms for Rent w bath,35935,Angela,Brooklyn,Bedford-Stuyvesant,40.682900,-73.957010,Private room,90,30,23,2022-04-30,249
8,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,175,30,49,2022-06-21,280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39863,6560257,Luxury 1-Bedroom King Suite with Central Park ...,836168,Henry,Manhattan,Central Park,40.792710,-73.962730,Entire home/apt,1000,30,27,2017-05-04,364
39864,53261541,Central Park and You -40,2653479,Richard,Manhattan,Central Park,40.799030,-73.959260,Private room,66,30,9,2022-08-08,58
39867,610893865314283676,Views on Waterfront! 2bdrm 2ba 5 mins to Manha...,269756516,Eva,Queens,Long Island City,40.748660,-73.956280,Entire home/apt,250,30,2,2022-07-25,0
39868,558463452374150722,"Jersey City 2BR w/ Elevator, Gym & W/D, nr PATH",107434423,Blueground,Manhattan,Tribeca,40.722459,-74.035433,Entire home/apt,311,31,1,2022-06-02,309
39876,27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,135,365,2,2019-09-16,365

## Export

In [18]:
# Save the cleaned data to a csv
listings_df.to_csv("Resources/clean_nyc_listings.csv", index=False)