## Data Cleaning

In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
#  Read in the csv
listings_df = pd.read_csv("Resources/nyc_listings_2022sep07.csv")
listings_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,308,2,42,2022-07-18,0.30,30,217,4,NaN
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,299,30,9,2018-10-19,0.11,9,356,0,NaN
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,425,30,13,2019-11-12,0.10,6,365,0,NaN
3,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.806350,-73.922010,Private room,60,30,0,NaN,NaN,1,83,0,NaN
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,75,31,135,2022-07-11,0.95,1,219,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39876,27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,135,365,2,2019-09-16,0.04,7,365,0,NaN
39877,654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,180,1,5,2022-08-24,1.92,1,0,5,NaN
39878,553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,240,5,18,2022-08-22,2.87,1,152,18,NaN
39879,698195550745703156,"Luxurious private waterfront terrace, 2BR 2BA Apt",151487807,Asser,Brooklyn,Williamsburg,40.709192,-73.970121,Entire home/apt,400,30,0,NaN,NaN,1,311,0,NaN
39880,48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,40,1,15,2021-10-25,0.91,1,0,4,NaN

In [3]:
# Find the number of null values 
listings_df.isnull().sum()

id                                    0
name                                 13
host_id                               0
host_name                            50
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        8362
reviews_per_month                  8362
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           39876
dtype: int64

In [4]:
# Drop columns
listings_df = listings_df.drop(["license"], axis=1)
listings_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,308,2,42,2022-07-18,0.30,30,217,4
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,299,30,9,2018-10-19,0.11,9,356,0
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,425,30,13,2019-11-12,0.10,6,365,0
3,45935,Room in Beautiful Townhouse.,204586,L,Bronx,Mott Haven,40.806350,-73.922010,Private room,60,30,0,NaN,NaN,1,83,0
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,75,31,135,2022-07-11,0.95,1,219,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39876,27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,135,365,2,2019-09-16,0.04,7,365,0
39877,654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,180,1,5,2022-08-24,1.92,1,0,5
39878,553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,240,5,18,2022-08-22,2.87,1,152,18
39879,698195550745703156,"Luxurious private waterfront terrace, 2BR 2BA Apt",151487807,Asser,Brooklyn,Williamsburg,40.709192,-73.970121,Entire home/apt,400,30,0,NaN,NaN,1,311,0
39880,48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,40,1,15,2021-10-25,0.91,1,0,4

In [5]:
# Drop rows with null values
listings_df.dropna()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,77765,Superior @ Box House,417504,The Box House Hotel,Brooklyn,Greenpoint,40.737770,-73.953660,Hotel room,308,2,42,2022-07-18,0.30,30,217,4
1,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.645290,-73.972380,Private room,299,30,9,2018-10-19,0.11,9,356,0
2,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.703090,-73.899630,Entire home/apt,425,30,13,2019-11-12,0.10,6,365,0
4,45936,Couldn't Be Closer To Columbia Uni,867225,Rahul,Manhattan,Morningside Heights,40.806300,-73.959850,Private room,75,31,135,2022-07-11,0.95,1,219,4
5,80493,Cozy room in East Village with AC,434987,Jennifer,Manhattan,East Village,40.723220,-73.986150,Private room,55,2,207,2022-08-13,1.49,1,132,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39872,628769808856889664,Two bedroom apartment in Hoboken New Jersey.,14468718,Burak,Manhattan,West Village,40.740227,-74.027504,Entire home/apt,410,3,2,2022-07-29,0.82,1,0,2
39876,27577588,Luxury Studio ON Grove Street E0C - B1CA,37412692,Kim,Manhattan,Ellis Island,40.718220,-74.037940,Entire home/apt,135,365,2,2019-09-16,0.04,7,365,0
39877,654151117629853651,Lovely 3- bedroom apartment,117540494,Miriam,Queens,Rosedale,40.647244,-73.720088,Entire home/apt,180,1,5,2022-08-24,1.92,1,0,5
39878,553754115911961053,Trendy 3-bedroom apartment near Manhattan,15048320,India,Manhattan,Upper West Side,40.787320,-74.004470,Entire home/apt,240,5,18,2022-08-22,2.87,1,152,18
39880,48971505,Just Blocks to Grove PATH and JC Med Ctr,46201,J,Manhattan,Ellis Island,40.718350,-74.044160,Private room,40,1,15,2021-10-25,0.91,1,0,4

## Data Exploration

In [6]:
# Find the total listings for each neighborhood
borough_listings = listings_df.groupby(["neighbourhood_group"]).count()["neighbourhood"].sort_values(ascending = False)
borough_listings

neighbourhood_group
Manhattan        16847
Brooklyn         14845
Queens            6175
Bronx             1568
Staten Island      446
Name: neighbourhood, dtype: int64

In [7]:
# Find the top 5 neighboorhoods in Manhattan
manhattan_listings = listings_df.loc[listings_df["neighbourhood_group"] == "Manhattan"]
manhattan_neighborhood_listings = manhattan_listings.groupby(["neighbourhood"]).count()["room_type"].sort_values(ascending = False)
manhattan_neighborhood_listings.head()

neighbourhood
Harlem             1878
Midtown            1701
Upper West Side    1630
Hell's Kitchen     1578
Upper East Side    1379
Name: room_type, dtype: int64

In [8]:
# Find the top 5 neighboorhoods in Brooklyn
brooklyn_listings = listings_df.loc[listings_df["neighbourhood_group"] == "Brooklyn"]
brooklyn_neighborhood_listings = brooklyn_listings.groupby(["neighbourhood"]).count()["room_type"].sort_values(ascending = False)
brooklyn_neighborhood_listings.head()

neighbourhood
Bedford-Stuyvesant    2779
Williamsburg          2456
Bushwick              1657
Crown Heights         1197
Greenpoint             708
Name: room_type, dtype: int64

In [9]:
# Find the top 5 neighboorhoods in Queens
queens_listings = listings_df.loc[listings_df["neighbourhood_group"] == "Queens"]
queens_neighborhood_listings = queens_listings.groupby(["neighbourhood"]).count()["room_type"].sort_values(ascending = False)
queens_neighborhood_listings.head()

neighbourhood
Astoria             686
Flushing            485
Long Island City    477
Woodside            336
Ridgewood           315
Name: room_type, dtype: int64

In [10]:
# Find the top 5 neighboorhoods in Bronx
bronx_listings = listings_df.loc[listings_df["neighbourhood_group"] == "Bronx"]
bronx_neighborhood_listings = bronx_listings.groupby(["neighbourhood"]).count()["room_type"].sort_values(ascending = False)
bronx_neighborhood_listings.head()

neighbourhood
Wakefield         192
Mott Haven         92
Kingsbridge        75
Williamsbridge     70
Longwood           67
Name: room_type, dtype: int64

In [11]:
# Find the top 5 neighboorhoods in Staten Island
SI_listings = listings_df.loc[listings_df["neighbourhood_group"] == "Staten Island"]
SI_neighborhood_listings = SI_listings.groupby(["neighbourhood"]).count()["room_type"].sort_values(ascending = False)
SI_neighborhood_listings.head()

neighbourhood
St. George         45
Randall Manor      40
Tompkinsville      37
West Brighton      27
Mariners Harbor    22
Name: room_type, dtype: int64

In [12]:
# Find the total listings for each room type
room_listings = listings_df.groupby(["room_type"]).count()["neighbourhood"].sort_values(ascending = False)
room_listings

room_type
Entire home/apt    22761
Private room       16361
Shared room          557
Hotel room           202
Name: neighbourhood, dtype: int64

In [13]:
# Find the hosts with the most listings
host_listings = listings_df.groupby(["host_name"]).count()["room_type"].sort_values(ascending = False)
host_listings.head(10)

host_name
Blueground    453
Michael       321
Eugene        299
David         281
Untitled      200
John          200
Michelle      184
Daniel        182
Hiroki        175
Alex          169
Name: room_type, dtype: int64

In [15]:
# Save the cleaned data to a csv
listings_df.to_csv("Resources/clean_nyc_listings.csv", index=False)